###### Requirements without Version Specifiers ######
linearmodels
lmdiag
matplotlib
numba
numpy
pandas
scipy
see
statsmodels
wooldridge

###### Requirements with Version Specifiers ######
jupyter-book >= 0.8.2
