###### Requirements without Version Specifiers ######
gapminder
jupyter-book
linearmodels
lmdiag
matplotlib
numba
numpy
pandas
py4etrics
scipy
seaborn
see
statsmodels
wooldridge

###### Requirements with Version Specifiers ######
# sphinxcontrib-bibtex==1.0.0
