###### Requirements without Version Specifiers ######
jupyter-book
linearmodels
lmdiag
matplotlib
numba
numpy
pandas
scipy
see
statsmodels
wooldridge
git+https://github.com/Py4Etrics/py4etrics.git

###### Requirements with Version Specifiers ######
# sphinxcontrib-bibtex==1.0.0
