/* == Override the default ================================================== */
/* == Elements not set in div... below remain as they are =================== */

/* -- admonitions ----------------------------------------------------------- */


div.admonition {
    border-color: #00C7B6;
    background-color: none;
}


div.admonition p.admonition-title {
    background-color: transparent;
    text-decoration: none;
}


div.admonition p.admonition-title::before {
    /*content: none;*/
    content: "\1F40D";
    font-size: 0.85em;
}

