/* == Override the default ================================================== */
/* == Elements not set in div... below remain as they are =================== */

/* Variables */
:root {
  --code-explanatio-color: #00C7B6;
}

/* -- admonitions ----------------------------------------------------------- */


div.code-explanation {
    border-color: #00C7B6;
    background-color: none;
}


div.code-explanation p.admonition-title {
    background-color: transparent;
    text-decoration: none;
}


div.code-explanation p.admonition-title:before {
    /*content: none;*/
    /*content: "\1F40D";*/
    /*font-size: 0.85em;*/
    /*font-size: 0em;*/
    color: rgba(var(#FFFFFF), 0);
}
